.markdown {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
    color: black;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }
    h1,
    h2 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: 0.3em;
    }
}

.markdown h1 {
    font-size: 2em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown h3 {
    font-size: 1.25em;
}

.markdown h4 {
    font-size: 1em;
}

.markdown h5 {
    font-size: 0.875;
}

.markdown h6 {
    font-size: 0.85em;
    color: #6a737d;
}
