.logo {
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    text-align: center;
    padding: 5px;

    h2 {
        color: white;
        padding: 0;
        margin: 0;
        font-size: 12px;
    }

    h1 {
        color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.buttonContainer {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.moreFromCreator {
    margin-top: 30px !important;
    padding: 10px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    background: rgba(255, 255, 255, 0.2);


    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

   
}