# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master, dev ]
  pull_request:
    types: [opened, opened, synchronize, reopened]
    branches: [ master, dev ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
      with:
        node-version: '14.x'

    - name: Print versions
      run: npm run info
      with:
        node-version: '14.x'

    - name: Install dependencies
      run: npm i
      with:
        node-version: '14.x'

    - name: Run linter
      run: npm run lint
      with:
        node-version: '14.x'
    
    - name: Build 
      run: npm run build
      with:
        node-version: '14.x'
